<div class="batchWrapper">
  <div class="banner">
    <span ng-click="data.expanded = !data.expanded" ng-show="data.expanded">-</span>
    <span ng-click="data.expanded = !data.expanded" ng-hide="data.expanded">+</span>
    {{label}} :: {{data.Description}}
  </div>
  <div ng-if="data.expanded">
    <div ng-repeat="(key, value) in data">
      <div ng-if="!isObject(value) && key != 'expanded' && key.lastIndexOf('ID') != key.length - 2">
        {{key}}:{{value}}
      </div>
    </div>
    <div ng-repeat="(key, value) in data">
      <div ng-if="isArray(value)">
        <product ng-repeat = "element in value" label="key" data="element"></product>
      </div>
      <div ng-if="isObject(value) && !isArray(value)">
        <product label="key" data="value"></product>
      </div>
    </div>
  </div>
</div>